.heading {
    font-weight: 500;
}

.gif-div {
    float: left;
    margin: 0 auto 10px auto;
    padding-right: 10px;

}

.gif-container {
    margin: 0 auto 0 auto;
}

.top {
    margin-top: 10px;
}

.gif-buttons {
    margin: 10px 2px 5px 0;
}

#submit {
    margin-top: 10px;
}

p {
    font-weight: 500;
}